body {
  margin: 0;
  padding: 10px;
  background: #000;
}

.header-links {
  padding-left: 10px;
}

.header-links a {
  color: #fff;
  font-family: helvetica;
  text-decoration: none;
  margin-right: 20px;
}
.header-links a:hover {
  text-decoration: dashed underline;
}

#image-container {
  width: calc(100% - 20px);
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
  grid-gap: 10px;
  padding: 10px;
}

.profile-img {
  width: 100%;
}

#search-key {
  width: calc(100% - 30px);
  height: 40px;
  font-size: 24px;
  padding-left: 10px;
  font-family: helvetica;
  margin: 10px;
  background: #545454;
  color: #fff;
  border: none;
}



input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
